*.iml
.gradle
/local.properties
.DS_Store
/.idea/
/build
/captures
.externalNativeBuild
paper/CitaviProject/Citavi Attachments/RecycleBin/
/SuperpoweredSDK_unzip/

SuperpoweredSDK\.zip

Superpowered/
